body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.5;
	overflow: hidden auto;
}

.limpar::after{
	content: '';
	clear: both;
	box-sizing: border-box;
	display: block;
}

.button-menu{
	display: none;
}

header{
	background-color: rgba(0, 0, 0, 0.85);
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li{
/*				display: inline-block;*/
	text-align: center;
/*	border: 1px solid white;*/
/*				padding: 5px;*/
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-weight: 600;
	display: block;
	margin: 0;
	padding: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	transition: all .3s linear;
}

nav ul li a:hover{
	background-color: rgba(255, 255, 255, 0.44);
	letter-spacing: 2.5px;
}

.principal{
	background-color: #9c9d9a;
/*				height: 30vh;*/
	width: 100wv;
	padding: 20px;
/*				overflow: auto;*/
}

.principal-content{
/*	border: 1px solid black;*/
	width: 100%;
	margin: auto;
	text-align: center;
/*				float: left;*/
}

.principal-content h1{
	font-family: cursive;
}

.principal-content p{
	font-family: tahoma, sans-serif;
}
.principal-image{
/*	float: left;*/
	margin-top: 20px;
	height: 100px;
/*	border: 1px solid black;*/
	width: 100%;
	height: 160px;
}
.principal-image div:first-child{
/*	border: 1px solid white;*/
	height: 100%;
	width: 60%;
	float: left;
}

.principal-image img{
	width: 220px;
	height: 100%;
}

.principal-image div:last-child{
/*	border: 1px solid white;*/
	height: 100%;
	width: 38%;
	float: right;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.principal .button{
	display: block;
	text-decoration: none;
	font-family: cursive;
	text-align: center;
	font-weight: 500;
	border: 2px solid white; 
	border-radius: 7px;
	padding: 3px 8px;
	width: 100px;
	margin: 10px auto;
	color: white;
	transition: all .3s linear;
}

.principal .button:hover{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.43);
	letter-spacing: 1px;
	
}
.principal-thumb img{
		display: none;
	
}
.medio{
	background-color: #958c7e;
	padding: 21px;

}


.medio article{
/*
	float: left;
	border: 1px solid black;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	height: 30px;
*/
	display: none;	
}

.medio-info{
	background-color: #9c9d9a;
	padding: 20px;
}

.medio-info p + p{
	display: none;
}


.final{
	background-color: #958c7e;;
	padding: 20px;
}

.final p{
	text-align: center;
	font-weight: 700;
}

.projectos article{
	height: 20vh; 
	border: 1px solid black;
	width: 75%;
	margin:  15px auto;
	border-radius: 10px;
}

footer{
	height: 30vh;
	background-color: rgba(0, 0, 0, 0.85);
}

.foot-imagens{
/*	border: 1px solid white;*/
	height: 175px;
	width: 49px;
	float: right;
	margin-right: 30px;
}

.foot-imagens article{
	width: 39px;
	height: 30px;
	margin: 15px;
}



.foot-imagens img{
	width: 100%;
	height: 100%;
}



adress{
	font-weight: 400;
	color: #9bb2b2;
/*	border: 1px solid white;*/
	float: left;
	width: 250px;
	padding: 15px 0 0 15px;
	
}










/********************************************************************************/








@media screen and (min-width: 32.125em /*514px*/){
	
	.principal-image img{
	margin-left: 3.5em;
}
	
	.projectos article{
	height: 20vh; 
	border: 1px solid black;
	width: 47%;
	margin: 5px;
	border-radius: 10px;
	float: left;
}
}

@media screen and (min-width: 45.625em /*730px*  " MIN TABLET"*/){
	
  .js .button-menu{
	display: none;
}
	
	header{
		height: 45px;
		position: fixed;
		width: 100vw;
		z-index: 10;
	}
	
	header nav ul{
		float: right;
	}
	
	header nav ul li{
		display: inline-block;
/*		float: right;*/
		margin:10px 20px 0 0;
	}
	
	header nav ul li a{
		font-weight: normal;
		font-family: cursive;
		color: rgba(255, 255, 255, 0.74);
	}
	
	header nav ul li a:hover{
		background-color: transparent;
		color: white;
	}
	header nav ul li:last-child{
		margin-right: 40px;
	}
	
	.principal-content{
		padding-top: 2em;
	}
	
	.principal-image img{
	margin-left: 6.5em;
    }
	
	.projectos{
		width: 80%;
		margin: auto;
/*		border: 1px solid white;*/
	}
	
	.projectos article{
	height: 25vh; 
	border: 1px solid black;
	width: 46%;
	margin: 9px;	
	border-radius: 10px;	
}
}


@media screen and (min-width: 51.875em /*830px*  MAX TABLET OR MIN PC*/){

	
	.principal{
/*		margin-bottom: 4em;*/
		height: 600px;
	}
	
	.principal-content{
	padding-top: 0;	
	width: 50%;
	margin: 100px 0 50px ;
/*	text-align: center;*/
/*				float: left;*/
}
	
	.principal-image{
/*	border: 1px solid black;*/
	height: 160px;
	position: relative;
}

.principal-image img{
	margin-left: 3em;
	margin-top: 4em;
	width: 230px;
	height: 100%;
}

.principal-image div:last-child{
/*	border: 1px solid white;*/
	height: 50%;
	width: 38%;
/*	float: right;*/
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 11em;
}

.principal .button{
	display: inline-block;
	text-decoration: none;
	font-family: cursive;
	text-align: center;
	font-weight: 500;
	border: 2px solid white; 
	border-radius: 7px;
	padding: 3px 8px;
	width: 100px;
	margin: 0 px;
	color: white;
	transition: all .3s linear;
}

	.medio{
		background-color: ;
		width: 50%;
		height: 38%;
		position: absolute;
		bottom: 5em;
		left: 26em;
	}
	
	.medio-info{
/*	margin-top: 6em;	*/
	text-align: center;	
	background-color: #958c7e;
	padding: 20px;
}

	
	
	.final{
		text-align: center;
		background-color: #9c9d9a;
	}
	.projectos{
		width: 80%;
		margin: auto;
	}
	
	
	.projectos article{
	height: 25vh; 
	border: 1px solid black;
	width: 30%;
	margin: 9px;	
	border-radius: 10px;	
}
}

@media screen and (min-width: 59.375em /*950px*  PC*/){
	
	
	header nav ul li:last-child{
		margin-right: 150px;
	}
	.principal{
/*		background-color: rgba(39, 38, 38, 0.08);*/
/*		margin-bottom: 4em;*/
		height: 700px;
	}
	
	.principal-content{
		margin-top: 5em;
		margin-bottom: 5em;
		float: left;
	}
	
	.principal-thumb{
/*		border: 1px solid black;*/
		
		float: right;
		height: 40%;
		width: 30%;
		margin-top: 3em;
		margin-right: 14em;
		
	}
	
	.principal-thumb img{
		border-radius: 30px;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	
	.principal-image{
		margin-top: 1em;
		height: 14em;
		clear: both;	
	}
	.principal-image div:last-child{
	margin-top: 9em;	
	height: 53px;
	width: 28%;
}
	
	
	.principal .button{
	margin: 15px;

}
	
	.medio{
		width: 50%;
		height: 38%;
		position: absolute;
		top: 24em;
		left: 29em;
	}
	
	
	.medio-info{
		height: 500px;
		padding: 5px 30px 0;
	}
	
	.medio-info h2{
		text-align: center;
	}	
	.medio-info article{
	width: 49%;
/*	border: 1px solid black;*/
	height: 80%;
	float: left;
	}
	
	.medio-info p + p{
	display: block;
	}
	
	
	.info:last-child{
		padding: 30px 50px;
		box-sizing: border-box;
	}
	 
	.info:nth-child(2){
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		
	}
	
	.info .dominio-imagem{
		border: 1px solid white;
/*		float: left;
*/
		height: 70%;
		margin: 25px;
		border-radius: 10px;
		transition: all .3s linear;
		
	}
	
	.info .dominio-imagem:hover{
		transform: scale(1.3, 1.3);
	}
	
}



