body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.5;
	overflow: hidden auto;
/*	background-color: rgb(123, 123, 123);*/
	background-color: rgba(18, 15, 15, 0.26);
}

.limpar::after{
	content: '';
	clear: both;
	box-sizing: border-box;
	display: block;
}

.logotipo{
	background-color: white;
	display: inline-block;
	padding: 5px 40px;
	color: aqua;
	font-size: 20px;
	font-weight: 900;
	box-sizing: border-box;
}

.button-menu{
	display: block;
	margin: 0 40px 0;
	transform: translateY(.9em);
	float: right;	
}

header{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.85);
/*	background-color: white;*/
	width: 100vw;
	height:7vh;
}

.js .header__nav{
	transition: max-height 1s;
	clear: both;
}

nav ul{
	display: block;
	list-style: none;
	margin: 0 ;
	padding: 0;
	background-color: rgb(15, 14, 14);
	clear: left;
}

nav ul li{
/*				display: inline-block;*/
	text-align: center;
/*	border: 1px solid white;*/
/*				padding: 5px;*/
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-weight: 600;
	display: block;
	margin: 0;
	padding: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	transition: all .3s linear;
}

nav ul li a:hover{
	background-color: rgba(255, 255, 255, 0.44);
	letter-spacing: 2.5px;
}

.principal{
	background-color: #9c9d9a;
/*				height: 30vh;*/
	width: 100wv;
	padding: 35px 20px 20px;
	transition: all .5s linear;
	
/*				overflow: auto;*/
	
}

.principal-content{
/*	border: 1px solid black;*/
	width: 100%;
	margin: auto;
	text-align: center;
/*				float: left;*/
	font-size: 1.1em;
}

.principal-content h1{
	font-family: cursive;
}

.principal-content p{
	font-family: tahoma, sans-serif;
}
.principal-image{
/*	float: left;*/
	margin-top: 20px;
	height: 100px;
/*	border: 1px solid black;*/
	width: 100%;
	height: 160px;
}
.principal-image div:first-child{
/*	border: 1px solid white;*/
	height: 100%;
	width: 60%;
	float: left;
}

.principal-image img{
	width: 220px;
	height: 100%;
}

.principal-image div:last-child{
/*	border: 1px solid white;*/
	height: 100%;
	width: 38%;
	float: right;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.principal .button{
	display: block;
	text-decoration: none;
	font-family: cursive;
	text-align: center;
	font-weight: 500;
	border: 2px solid white; 
	border-radius: 7px;
	padding: 3px 8px;
	width: 100px;
	margin: 10px auto;
	color: white;
	transition: all .3s linear;
}

.principal .button:hover{
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.43);
	letter-spacing: 1px;
	
}
.principal-thumb img{
		display: none;
	
}
.medio{
	background-color: #958c7e;
	padding: 21px;
	transition: all .5s linear;
}


.medio article{
/*
	float: left;
	border: 1px solid black;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	height: 30px;
*/
	display: none;	
}

.medio-info{
	background-color: #9c9d9a;
	padding: 20px;
	transition: all .5s linear;
}

.medio-info p + p{
	display: none;
}


.final{
	background-color: #958c7e;;
	padding: 20px;
	transition: all .5s linear;
}

.final p{
	text-align: center;
	font-weight: 700;
}

.projectos{
	height: 447px;
	overflow: hidden;
	transition: all .2s linear;
}
.projectos article{
	height: 20vh; 
	border: 1px solid black;
	width: 75%;
	margin:  15px auto;
	border-radius: 10px;
}

.button_vermais{
	display: none;
}
.js .button_vermais{
	display: block;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.53);
	padding: 6px 20px;
	border-radius: 9px;	
	transition: all .3s linear;
}

.button_vermais:hover{
	background-color: rgba(255, 255, 255, 0.86);
	letter-spacing: 1px;
	cursor: pointer;
}

footer{
	height: 30vh;
	background-color: rgba(0, 0, 0, 0.85);
}

.foot-imagens{
/*	border: 1px solid white;*/
	height: 175px;
	width: 49px;
	float: right;
	margin-right: 30px;
}

.foot-imagens article{
	width: 39px;
	height: 30px;
	margin: 15px;
}



.foot-imagens img{
	width: 100%;
	height: 100%;
}



adress{
	font-weight: 400;
	color: #9bb2b2;
/*	border: 1px solid white;*/
	float: left;
	width: 250px;
	padding: 15px 0 0 15px;
	
}










/********************************************************************************/








@media screen and (min-width: 32.125em /*514px*/){
	.principal-image img{
	margin-left: 3.5em;
}
/*
	.js .projectos{
		height: 320px ;
		max-height: 500px;
	}
*/
	.projectos article:nth-child(3){
		margin-bottom: 400px;
		background: white;
	}
	.projectos article{
	height: 20vh; 
	border: 1px solid black;
	width: 47%;
	margin: 5px;
	border-radius: 10px;
	float: left;
	}
	
	.projectos a{
		clear:both;
	}
}

@media screen and (min-width: 45.625em /*730px*  " MIN TABLET"*/){
  .js .button-menu{
	display: none;
}
	
.js .header__nav{
	transition: max-height 1s;
}	

	.logotipo{
	  padding: 8px 40px;
	}
	
	header{
		height: 45px;
		position: fixed;
		width: 100vw;
		z-index: 10;
	}
	
	header nav ul{
		margin: 0;
		transform: translateY(-2.5em);
		z-index: 11;
		color: white;
		font-size: 1em;
		background-color: transparent;
		position: absolute;
		left: 40%;
	}
	
	header nav ul li{
		display: inline-block;
/*		float: right;*/
		margin: 0 20px 0 0;
	}
	
	header nav ul li a{
		font-weight: normal;
		font-family: cursive;
		color: rgba(255, 255, 255, 0.74);
	}
	
	header nav ul li a:hover{
		background-color: transparent;
		color: white;
	}

	.principal-content{
		padding-top: 2em;
	}
	
	.principal-image img{
	margin-left: 6.5em;
    }
	
	.projectos{
		width: 80%;
		margin: auto;
/*		border: 1px solid white;*/
	}
	
	.projectos article{
	height: 25vh; 
	border: 1px solid black;
	width: 46%;
	margin: 9px;	
	border-radius: 10px;	
}
}


@media screen and (min-width: 51.875em /*830px*  MAX TABLET OR MIN PC*/){

		header nav ul{
		left: 40%;
	}
	
	.principal{
/*		margin-bottom: 4em;*/
		height: 600px;
	}
	
	.principal-content{
	padding-top: 0;	
	width: 50%;
	margin: 100px 0 50px ;
/*	text-align: center;*/
/*				float: left;*/
}
	
	.principal-image{
/*	border: 1px solid black;*/
	height: 160px;
	position: relative;
}

.principal-image img{
	margin-left: 3em;
	margin-top: 4em;
	width: 230px;
	height: 100%;
}

.principal-image div:last-child{
/*	border: 1px solid white;*/
	height: 50%;
	width: 38%;
/*	float: right;*/
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 11em;
}

.principal .button{
	display: inline-block;
	text-decoration: none;
	font-family: cursive;
	text-align: center;
	font-weight: 500;
	border: 2px solid white; 
	border-radius: 7px;
	padding: 3px 8px;
	width: 100px;
	margin: 0 px;
	color: white;
	transition: all .3s linear;
}

	.medio{
		width: 50%;
		height: 55%;
		position: absolute;
		bottom: -4em;
/*		top: 5em;*/
		left: 22em;
	}
	
	.medio h1{
		margin: 0;
	}
	.medio-info{
/*	margin-top: 6em;	*/
	text-align: center;	
	background-color: #958c7e;
	padding: 20px;
}

	.final{
		text-align: center;
		background-color: #9c9d9a;
	}
	.projectos{
		width: 80%;
		margin: auto;
	}
	
	
	.projectos article{
	height: 25vh; 
	border: 1px solid black;
	width: 30%;
	margin: 9px;	
	border-radius: 10px;	
}
		.js .button_vermais{
		display: none;	
	}
	
}

@media screen and (min-width: 59.375em /*950px*  PC*/){
	
		header nav ul{
		left: 40%;
	}
	
	header nav ul li{
		margin-right: 37px;
		font-size: 1.03em;
		font-weight: 900;
	}
	
	
	.principal{
/*		background-color: rgba(39, 38, 38, 0.08);*/
/*		margin-bottom: 4em;*/
		height: 700px;
	}
	
	.principal-content{
		margin-top: 5em;
		margin-bottom: 5em;
		float: left;
	}
	
	.principal-thumb{
/*		border: 1px solid black;*/
		
		float: right;
		height: 40%;
		width: 30%;
/*		margin-right: 10em;*/
		
		position: absolute;
		top: 4em;
		left: 36em;
		
	}
	
	.principal-thumb img{
		border-radius: 30px;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	
	
	.principal-image img{
		height: 220px;
	}
	
	.principal-image{
/*		margin-top: em;*/
		transform: translateY(2em);
		height: 14em;
		clear: both;
		background-color: rgba(55, 60, 64, 0.62);
		box-shadow: -8px -9px 6px black;
		transition: all .3s linear;
	}
	
/*
	.principal-image:hover{
		height: 19em;
		box-shadow: 8px 9px 6px black;
	}
	
*/
	.principal-image div:first-child{
		margin-left: 3.2em;
		width: 30%; 
	}
	
	.principal-image div:last-child{
	margin-top: 8em;	
	height: 53px;
	width: 28%;
	transform: translateX(2em);
}
	
	
	.principal .button{
	margin: 0 15px 0 ;

}
	
	.medio{
		width: 50%;
		height: 38%;
		position: absolute;
		top: 25em;
		left: 27em;
	}
	
	
	.medio-info{
		height: 500px;
		padding: 5px 30px 0;
	}
	
	.medio-info h2{
		text-align: center;
	}	
	.medio-info article{
	width: 49%;
/*	border: 1px solid black;*/
	height: 80%;
	float: left;
	}
	
	.medio-info p + p{
	display: block;
	}
	
	
	.info:last-child{
		padding: 30px 50px;
		box-sizing: border-box;
	}
	 
	.info:nth-child(2){
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		
	}
	
	.info .dominio-imagem{
		border: 2px solid black;
/*		float: left;
*/
		height: 90%;
		margin: 0px;
		border-radius: 10px;
		transition: all .3s linear;
		
	}
	
	.info .dominio-imagem:hover{
		transform: scale(1.3, 1.3);
	}
	

}



@media screen and (min-width: 69.6875em /* 1115 px*/){

	
	header nav ul{
		left: 54%;
	}
	.principal, .medio{
/*		opacity: 0;*/
	}
	
	.principal-thumb{
/*		border: 1px solid black;*/
		
		float: right;
		height: 40%;
		width: 30%;
		top: 5em;
		left: 42em;
	}
	
	
	.principal-thumb img{
		border-radius: 30px;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	
	.info .dominio-imagem:hover{
		transform: scale(1.16, 1.3);
	}
	
	.info .dominio-imagem img{
		padding: 20px 14px 14px;
		height: 90%;
		width: 90%;
		box-sizing: border-box;
		border-radius: 10px;
	}
	
	
	.info a{
/*		background-color: green;*/
		border-radius: 9px;
		margin: 20px 11px;
	}
	
	
	.paragrafo{
		transition: all .3s linear;
		transition: opacity .3s linear;
	}

	.medio{
		margin-left: 7em;
		background-image: linear-gradient( #6f6f6f 30%,rgb(123, 123, 123) 60%, rgba(212, 209, 209, 0.79));
		background-color: rgb(123, 123, 123);
		color:rgb(21, 17, 17);
		font-family: tahoma;
	}
	
	.medio-info{
		background-color: transparent;
		padding: 50px 0;
		transition: all .5s linear;
	}

	.info2{
		position: relative;
	}
	
	.info2 div{
		transition: all 1s linear;
	}
	
	@keyframes roda{
		from {
			height: 16%;
		}
		
		to{
			height: 0%;
/*			border-radius: 40%;*/
		}
	}
	
	#moeda{
		width: 10%;
		height: 20%;
		background-image: url('../Imagens/javascript.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
/*		margin: auto;*/
		border-radius: 50%;
		transition: all .4s linear;
		opacity: .5;
		
		animation-name: roda;
		animation-direction: alternate;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		
		
		position: absolute;
		left: 83%;
		bottom: 2em;

	}
	
	 .final{
		padding-top: 50px;
/*		opacity: 0;*/
		transition: all .5s linear;
	}
	
	.projectos{
		height: 400px;
	}
	
	
	/*FOOTER*/
	
	footer{
	height: 15vh;
}

.foot-imagens{
/*	border: 1px solid white;*/
	height: 175px;
	width: 49px;
	margin-right: 30px;
}

.foot-imagens article{
	width: 39px;
	height: 30px;
	margin: 15px;
	display: inline-block;
}

	.foot-imagens{
		width: 30%;
		height: 0;
	}


.foot-imagens img{
	width: 100%;
	height: 100%;
}



adress{
	font-weight: 400;
	color: #9bb2b2;
/*	border: 1px solid white;*/
	width: 50%;
	padding: 15px 0 0 10px;
}
	adress p{
		margin: 0;
	}
}

@media screen and (min-width: 80em){
	header nav ul{
		left: 62%;
	}
}


